h1{
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}
.container-resultado {
    
    height: 100px;
    width: 300px;
    border: solid blue 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10%;
    
}

.resultado{
    width: 80%;
    height: 40%;
    border: solid 1px;
    position: absolute;
    top: 55%;
    margin-top: -25px;
    
}

body{
    margin-left: auto;
    display: block;
    width: 32%;
    margin-right: auto;
}
